# 1. Python Output - print() Function

In [1]:
# This is function, named with x. input parameter to be given in bracket.
# eg. x()
# There are several functions like this in python.

#### Function - print()

In [2]:
# print() is an inbuilt function in Python.
# Python is case sensitive - uppercase and lowercase letters are different.
# Capital Print() will NOT work; only print() is valid.

print('My Name is Nikshit Vora..')

My Name is Nikshit Vora..

In [3]:
# Text should be in single or double quotes.
print('How are you?')

# A single quote can be used inside double quotes.
print("Hello, I'm Nikshit Vora")

How are you?
Hello, I'm Nikshit Vora

In [4]:
# Multiline string with triple quotes.
print('''
Hello! How are you..?
I'm fine. Thank you..
''')

Hello! How are you..?
I'm fine. Thank you..

In [5]:
# Integer Data Type
print(7)

7

In [6]:
# Float Data Type
print(2.5)

2.5

In [7]:
# Boolean Data Type

# True  --> 1
# False --> 0

print(True)
print(False)
print(True + False)
print(True*10)
print(False - 4)

True
False
1
10
-4

In [8]:
# The print() function can take multiple arguments of different data types (string, integer, float, boolean, etc.)
print('Data Science',5,4.8,True,5+5j)

Data Science 5 4.8 True (5+5j)

#### Use of sep=' ' and end=' ' in print() function

In [9]:
# sep --> Used to specify the separator between multiple values in the print() function.
# By default, the separator is a space (' ').
# we can change it to any string using the sep parameter.

print('Data Science',5,4.8,True)  # default
print('Data Science', 5, 4.8, True, sep='--')  
print('Data Science',5,4.8,True, sep = '__')

Data Science 5 4.8 True
Data Science--5--4.8--True
Data Science__5__4.8__True

In [10]:
# end --> Used to specify what to print at the end of the output and to combine outputs from multiple print statements.
# By default, end='\n' (newline), so each print statement appears on a new line.
# We can change 'end' to any string to combine outputs from multiple print statements.

print('Hello')
print('How are you..')
print()

# end
print('Helloo!!', end=', ')
print('How are you..?')

Hello
How are you..

Helloo!!, How are you..?

# 2. Data Types & type() function

1. Integer
2. Float
3. Boolean
4. String
5. Complex
6. List
7. Tuple
8. Set
9. Dictonary
10. NoneType

#### 1. Integer Data Type - Whole numbers, positive or negative.

In [12]:
# Integer
print(8)
print(10)
print(1)

8
10
1

In [13]:
# type() -> to find out the data type of variable or value
type(2)

int

In [14]:
# Python can handle very large integers.
print(10**3009)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

#### 2. Float - Decimal numbers.

In [15]:
# decimal/float
print(5.9)
print(1.358)

5.9
1.358

In [16]:
type(2.3)

float

In [17]:
print(3.55e1) # e -> 10^ (notation, 3.55 * 10^1 = 35.5)
print(1.5e308)

# Python float has a limit (~1.8e308). 
# If you try print(1e309), output will be 'inf' (infinity).

print(1e309)  # Output: inf

35.5
1.5e+308
inf

#### 3. Boolean - True/False values.

In [18]:
# boolean
print(True)
print(False)

True
False

In [19]:
type(True)
type(False)

bool

In [20]:
# True will be treated as 1.
# False will be treated as 0.

print(True==1)
print(False==0)

True
True

In [21]:
print(True + True) # 1 + 1
print(False - True*5) # 0 - 1*5

2
-5

#### 4. String - Text data, enclosed in quotes.

In [22]:
# strings/text
print('Hello world!!')
print("How are you..?")

Hello world!!
How are you..?

In [23]:
type('hello!')

str

#### 5. Complex - Numbers with real and imaginary parts.

In [24]:
# complex 
print(5+6j)

(5+6j)

In [25]:
type(6+5j)

complex

In [26]:
a = 6 + 5j
print(a)

(6+5j)

In [27]:
# to print real and imaginary part of the complex numbers
print(a.real)
print(a.imag)

6.0
5.0

#### 6. List

In [28]:
# python -> list -- enclosed with square bracket
# c      -> array
print(['Hello',5,6.5])

['Hello', 5, 6.5]

In [29]:
type([1,2,3])

list

#### 7. Tuple

In [30]:
# tuple --> enclosed with normal bracket
print(('Nikshit',1,5.6))

('Nikshit', 1, 5.6)

In [31]:
type((1,2,3,))

tuple

#### 8. Set

In [32]:
# set --> enclosed with curley bracket
print({'Vora',5,3,6.8})

{3, 5, 'Vora', 6.8}

In [33]:
type({1,2,3})

set

#### 9. Dictionary

In [34]:
# dictionary --> enclosed with curley bracket and contains key-value pairs.
print({'Name': 'Nikshit', 'Surname':'Vora','Age':24})

{'Name': 'Nikshit', 'Surname': 'Vora', 'Age': 24}

In [35]:
type({'key1':'value1','key2':'value2'})

dict

#### 10. None - absence of value or null value

In [36]:
# None - indicate variable has no value assigned yet.
# we want to define variable, dont want to assign value as of now...
a = None
print(a)

None

In [37]:
type(a)

NoneType

# 3. Variable Declaration

In [38]:
# variable act as container to store the value for later use. 
a = 'var1'
b = 5
print(a)
print(b)

var1
5

In [39]:
a = 5
b = 10
print(a+b)

15

In [40]:
# del to delete
del a,b

In [41]:
# NameError - a,b is not defined as it is deleted...
print(a)
print(b)

NameError: name 'a' is not defined

#### Keywords and Identifiers

In [42]:
# Keywords - reserved words for special purpose and 
# can not be used as variable name, function name, class etc.

In [43]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [44]:
# Identifiers - used to identify variables, functions, classes, modules etc.

# 1. can only contain letters (A-Z,a-z), digits(0-9) and underscores(_) 
# 2. can not start with digit
# 3. can not use keywords (class, def, if, else etc.)
# 4. can not use special characters or spaces (@, #, % etc.)

In [45]:
# Valid identifiers
var_no_1 = 7
VAR_no_2 = 10
_ = 17

In [46]:
# ''.isidentifier() --> to check if identifier is valid.

print('var_no_1'.isidentifier())
print('VAR_no_2'.isidentifier())
print('_'.isidentifier())

True
True
True

In [47]:
# Invalid identifiers

1variable = 5      # Starts with a digit
my variable = 10   # Contains a space
class = 'test'     # Uses a keyword
my-var = 7         # Contains a hyphen
@name = 'Nikshit'  # Contains special character '@'
def = 3            # Uses a keyword
price$ = 100       # Contains special character '$'

SyntaxError: invalid decimal literal (3147875363.py, line 3)

In [48]:
'1variable'.isidentifier()

False

#### Python Variables - Naming Convention

1. Camel case  --> First letter lowercase, first letter of each subsequent word is in uppercase. 
               --> not recommended in python.
                   Ex. kmPerHour, pricePerLitre

2. Pascal case --> First letter of each word in uppercase.
               --> used for class names in python
                   Ex. LinearRegressionModel, DataScience 

3. snake case  --> single underscore to separate word. 
               --> used for python variable and functions.
                   Ex. km_per_hour, price_per_litre

#### Variable declaration types

In [ ]:
# variable declaration type 1
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
# variable declaration type 2
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
# variable declaration type 3
a = b = c = 5
print(a,b,c)

5 5 5

In [ ]:
# variable declaration type 4
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

# 4. Python Knowledge

##### ***Python is***
- High Level
- Easy-to-read
- Dynamically Typed
- Interpreted Programming Language

Application:
- Data Science
- AI/ML
- Web Development
- Game Development
- Automation
- Scripting etc.

##### ***How Python Works?***

Step 1: Compile 
- translates code from human-readable (.py file) to machine-readable bytecode (.pyc files)
- this step is done automatically. we dont need to do it manually.
- it first compiles the whole code (not line by line) into bytecode.

Step 2: Run 
- python's interpreter executes the bytecode. 
- It goes line by line and performs the opertions.

##### *Adavantages:*

1. Easy to test and debug: Interpreted languages execute code line by line. If there's an error, it stops at that line and shows a message, making it easier to identify and fix.
2. No separate compilation step: no need to compile manually. saves time. Languages like C or Java require compiling before running. Python doesn’t.
3. Dynamic typing support: dont need to declare data type.
4. Platform independace: Bytecode/source code runs on any machines with the interpreter.
5. Interactive execution : we can test code snippets in real time using Python’s interactive shell.

##### *Disadvantages:*

1. slower execution: interpreting code at run time takes more time than running precompiled machine code.
2. Runtime errors: Errors are only caught when the problematic line is executed. 
3. Security : Since source code is interpreted directly, it’s easier to read and modify, which can be a risk in sensitive applications.

**Question: If Python first compiles the whole code into a .pyc file, why doesn't it show errors during this compilation step?**

Answer: During compilation, Python only checks for syntax and structure errors. It does not check for specific runtime errors like type errors or division by zero. These errors are detected only when the code is actually executed.

In [53]:
# Compilation stage:
# Python checks if the syntax is correct and variables are assigned.
# At this point, Python does not check for runtime errors (like adding int and str).
# The .pyc file is created successfully if there are no syntax errors.

a = 10
b = 'Hello'

# Execution stage:
# When Python runs this line, it sees that 'a' is an int and 'b' is a str.
# Python cannot add an integer and a string, so it raises a TypeError at runtime.

print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Static Typing vs. Dynamic Typing

***Static Typing:***

- need to declare data type of variable.
- now type is fixed and checked before running the code.
- type check time : before running (compile time)
- less flexiblity
- safer : fewer runtime errors

Ex. c/c++/Java

``int a = 5``  
``str b = 'Nikshit'``

this will give error

`a = 'Hello'`  can not assign string to a  
`b = 10 ` can not assign int to b

***Dynamic Typing:***

- don't need to declare data type of varialbe. 
- python will automatically infer data type at runtime.
- type check time : while running 
- more flexibilty
- riskier : type errors at runtime

``a = 5``  
``b = 'Nikshit'``

In [54]:
a = 2
b = 'nikshit'

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [55]:
a = 5
b = 6
print(a+b)

11

#### Static Binding vs Dynamic Binding

In [56]:
# Binding means connecting a function/method call to actual code that should run.

***Static Binding:***

- binding is decided at compile time.
- compiler knows what method/functions to call before running.
- less flexibility
- speed : faster (no lookup at runtime. it already knows what to execute.)

Ex. Normal function call

In [57]:
def greet():
    print('Hello! How are you..?')

greet()  # This is static binding. greet() is clearly defined.

Hello! How are you..?

***Dynamic binding:***

- binding is decided at runtime.
- more flexibility, supports override.
- speed: slightly slower

Ex. Method overriding in OOP

In [58]:
class Animal:
    def sound(self):
        print("Animal makes sound..")

class Dog(Animal):
    def sound(self):
        print('Dog barks..')

def make_sound(animal):
    animal.sound()   # At compile time, Python doesn't know which class's sound() will be called.

make_sound(Dog())  # At runtime, since Dog() is passed, Dog's sound() method is executed.

Dog barks..

# 5. Comments

In [59]:
# This is single line comment. 
# this second line comment....
a = 5
# print function
print(a)

5

Python do not support multiline comment.

In [60]:
# using triple quotes (acts as a multi line strings, not real comments.)
# this is multiline string that are not assigned to a variable..

'''
this is first line comment.
this is secone line comment.

'''

'\nthis is first line comment.\nthis is secone line comment.\n\n'

# 6. Input() - For User input

In [61]:
# input() - to take user input 
# always return str data type.
input()

'4'

In [62]:
input('enter your email - ')

'nikvora@gmail.com'

In [63]:
# input() always return str data type.
a = input('enter number - ')
type(a)

str

In [64]:
# addition example

# user input for two numbers
fnum = input('enter 1st number - ')
snum = input('enter 2nd number - ')

# addition
# need to convert it into int as input return will be in str. addition can only be done with int..
result = int(fnum) + int(snum)

print('addition is',result)

addition is 68

# 7. Type Conversion

In [65]:
# a integer data type
a = 2
type(a)

int

In [66]:
# type conversion of a to string
str(a)

'2'

#### Implicit vs Explicit Type Conversion

In [67]:
# Implicit type conversion - python will automatically convert datatype when safe to do so.
# Explicit type conversion - manually by programmer using int(), str(), bool()

In [68]:
# sum operations between int and float data type.

print(5 + 5.6)
print(type(5),type(5.6)) #  5 will be converted in 5.0 (float datatype) by python implicitly

10.6
<class 'int'> <class 'float'>

In [69]:
# This will not work.. need to to do explicit type conversion
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [70]:
# Explicit type conversion
a = '5'
b = 6
print(b + int(a))

11

In [71]:
x = '2514'
print(int(x))
print(type(x))
print(type(int(x)))

2514
<class 'str'>
<class 'int'>

In [72]:
# type conversion only possible when its logically possible.. can't convert complex to int.
a = 5 + 6j
print(type(a))
print(int(a))

<class 'complex'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [73]:
# float to int
a = 4.5
int(a)

4

In [74]:
# int to float
a = 5
float(a)

5.0

In [75]:
# int to bool
a = 1
bool(a)

True

# 8. Literals

In [76]:
# Literal : fixed value that is assigned to variable.

# a -> variable
# = -> operator
# 5 -> Literal

a = 5
print(a)

5

#### Integer Literals

In [77]:
# binary literals (uses 0 and 1 only)
# prefix - ob
a = 0b1010 

# decimal literals (normal integers)
b = 100

# octal literals (uses 0 to 7 digits)
# prefix - 0o
c = 0o310 

# hexadecimal literals (uses 0-9 and A-F)
# prefix - 0x
d = 0x12c 

print(a,b,c,d)

10 100 200 300

#### Float Literals

In [78]:
float_1 = 10.5
float_2 = 1.5e2  # 1.5*10^2
float_3 = 1.5E-3  # 1.5*10^-3

print(float_1,float_2,float_3)

10.5 150.0 0.0015

#### Complex Literals

In [79]:
a = 5 + 6j
b = 8j

print(a,b)
print('a ->',a.real,a.imag)
print('b ->',b.real,b.imag)

(5+6j) 8j
a -> 5.0 6.0
b -> 0.0 8.0

#### String Literals

In [80]:
# single quotes
a = 'This is python.'

# double quotes
b = "This is python's tutorial.."

# single quotes within double quotes
c = "Hello, I'm Nikshit Vora.."

# single char
d = 'D'

# multiline string
e = ''' 
    this is first line.
    this is second line..
'''

# Unicode Literals - support emojis and non - english text.
f = u"\U0001F600\U0001F606\U0001F923"

# Row string - ignore escape/special characters.
g = r"raw\nstring"

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

This is python.
This is python's tutorial..
Hello, I'm Nikshit Vora..
D

    this is first line.
    this is second line..

😀😆🤣
raw\nstring

#### Escape characters - char with backslash (\\) have special meaning

In [81]:
# \' --> single quote
print('Hello, I\'m Nikshit Vora.')

Hello, I'm Nikshit Vora.

In [82]:
# \" --> double quote
print("Heloo! My name is \"Nikshit\".")

Heloo! My name is "Nikshit".

In [83]:
# \n --> new line

print('This is first line. \nThis is second line.')

This is first line.
This is second line.

In [84]:
# \t --> tab space

print('Name\tAge\tLocation')

Name	Age	Location

In [85]:
# \\ --> backslash
print('This is backslash - \\')

This is backslash - \

In [86]:
# \n will give new line. 
print('Hello. \n How are you..?')
print()

# row string - will ingore all escape characters.
print(r'Hello. \n How are you..?')

Hello.
 How are you..?

Hello. \n How are you..?

In [87]:
# unicode
e = "\U0001F600\U0001F606\U0001F923"
print(e)

😀😆🤣

In [88]:
# unicode
e = u"\U0001F600\U0001F606\U0001F923"
print(e)

😀😆🤣

In [89]:
# True -> 1
# False -> 0 
a = True + 4 
b = False - 10
print(a,b)

5 -10

#### String Formatting

In [90]:
name = 'Nikshit'
age = 25

# comma separated multiple values
print('Hello!, I\'m',name,'I\'m',age, 'years old.')

# .format() method
print('Hello, I\'m {}. I\'m {} years old'.format(name,age)) # ordered
print('Hello, I\'m {}. I\'m {} years old'.format(age,name))
print('Hello, I\'m {n}. I\'m {a} years old'.format(a = age,n = name)) # var name
print('Hello, I\'m {0}. I\'m {1} years old'.format(name,age))  # with index

# f-string
print(f'Hello, I\'m {name}. I\'m {age} years old.')

Hello!, I'm Nikshit I'm 25 years old.
Hello, I'm Nikshit. I'm 25 years old
Hello, I'm 25. I'm Nikshit years old
Hello, I'm Nikshit. I'm 25 years old
Hello, I'm Nikshit. I'm 25 years old
Hello, I'm Nikshit. I'm 25 years old.

##### Format specifiers for decimal and percentage

In [91]:
n = 8.67456
p = 0.9745
print('decimal number is {}'.format(n))

print('decimal number is {:.2f}'.format(n))  # 2 decimal points
print(f'decimal number is {n:.3f}')

print('decimal number is {:.2%}'.format(p))  # percentage
print(f'decimal number is {p:.1%}')

decimal number is 8.67456
decimal number is 8.67
decimal number is 8.675
decimal number is 97.45%
decimal number is 97.5%

# 9. Operators

#### Arithmatic Operators

In [92]:
# addition
print(5+6)

# substraction
print(10-5)

# multiplication
print(2*8)

# division
print(10/3)

# integer division
print(10//3)

# modulus operator, gives remainder
print(10%3)

# raise to
print(10**2)

11
5
16
3.3333333333333335
3
1
100

#### Relational Operators

In [93]:
# Greater than
print(4>5)

# less than
print(4<5)

# greater than or equal to
print(4>=5)

# less than or equal to
print(4<=5)

# equal to
print(4==5)

# not equal to
print(4!=5)

False
True
False
True
False
True

#### Logical Operators

In [94]:
# and -> both true then 1
print(True and False)

# or  -> any one true then 1
print(True or False)

# not -> opposite
print(not True)

False
True
False

#### Bitwise Operators - operates on binary values.

In [95]:
a = 60
b = 13
print(a,'binary of',a,':',bin(a))
print(b,'binary of',b,':',bin(b))

60 binary of 60 : 0b111100
13 binary of 13 : 0b1101

60 --> 111100
13 --> 001101

In [96]:
# AND - a & b

a & b --> 1 if both bits are 1 else 0

60 --> 111100
13 --> 001101
---------------
       001100

In [97]:
print(a&b, bin(a&b))

12 0b1100

In [98]:
int('1100',2)

12

In [99]:
# OR --> a | b

a | b --> 1 if anyone bits is 1, else 0

60 --> 111100
13 --> 001101
---------------
       111101

In [100]:
print(a|b, bin(a|b))

61 0b111101

In [101]:
int('111101',2)

61

In [102]:
# XOR --> a ^ b

a ^ b --> 1 if bits are different, else 0

60 --> 111100
13 --> 001101
---------------
       110001

In [103]:
print(a^b,bin(a^b))

49 0b110001

In [104]:
int("0b110001",2)

49

In [105]:
# NOT --> ~ a, ~ b

 60 --> 111100
~60 --> 000011

 13 --> 001101
~13 --> 110010

In [106]:
print(~a,bin(~a))
print(~b,bin(~b))

-61 -0b111101
-14 -0b1110

In [107]:
print(bin(-61))

-0b111101

In [108]:
int('-0b111101',2)

-61

In [109]:
# LEFT SHIFT a << 2

consider decimal point at end.

60 --> 111100.0 
13 --> 001101.0

Left shift --> insert 0 at extreme right side and shift all bits left side

60 << 2 ---> 11110000
13 << 3 ---> 001101000

In [110]:
bin(a<<2)

'0b11110000'

In [111]:
bin(b<<3)

'0b1101000'

In [112]:
# RIGHT SHIFT a >> 2

60 --> 111100.0
13 --> 001101.0

Right shift --> Example below..

60 >> 2 ---> 1111.00
13 >> 3 ---> 0001.101

In [113]:
bin(a>>2)

'0b1111'

In [114]:
bin(b>>3)

'0b1'

#### Assignment Operators

In [115]:
a = 2
print(a)

# a = a + 2   # similarly for +,-,*,/
a += 2
print(a)

2
4

#### Membership Operators

In [116]:
# in 
print('D' in 'Delhi')
print(5 in range(2,10))

# not in
print('D' not in 'Delhi')
print(5 not in range(2,10))

True
True
False
False

In [117]:
# programme - find the sum of a 3 digit number entered by the user..

n = int(input('enter 3 digit number -> '))
# to extract last digit
a = n%10
#print(a)

# to extract 10's digit
n = n//10
b = n%10
#print(b)

# to extract 100's digit
n = n//10
c = n%10
#print(c)

print(a+b+c)

6

#### Identitiy Operator

In [118]:
# id() - will return memory address of object.
a = 'Nikshit'
print(id(a))

2051936925360

In [119]:
# if two variable points to the same object, they will have the same id.
a = 'Nikshit'
b = a

print(id(a))
print(id(b))

2051936925360
2051936925360

In [120]:
# True - ID same
# False - ID different 

a = 5
b = 5
print(id(a))
print(id(b))

print(a is b)  # is operator will check memory location of a and b.
print(a==b)    # equality operator will check value of a and b

140709091537832
140709091537832
True
True

In [121]:
print(a is not b)

False

In [122]:
# Integer interning or caching

# python automatically reuses objects for small integers ranging from -5 to 256
# memory address will be same always.
# reusing small numbers saves memory, improves the performance.
# the range -5 to 256 is preallocated when python starts.
a = 10
b = 10

print(a is b)
print(id(a))
print(id(b))

print('-------------')

# for larger number python creates objects each time.
# it will give different memory location for  number < -5 and number > 256.
a = -10
b = -10
print(a is b)
print(id(a))
print(id(b))

print('------')

a = 257
b = 257
print(a is b)
print(id(a))
print(id(b))

True
140709091537992
140709091537992
-------------
False
2051935737936
2051935740944
------
False
2051935737232
2051935743600

In [123]:
a = 500
b = a
print(a is b)

True

In [124]:
print(a is not b)

False

# 10. Copy

#### Copy - by reference

In [128]:
# b just refers to the same list in memory. so change is b affects a.
a = [1,2,3]
b = a

print(a is b)

b.append(4)
print(b)
print(a) # 4 will get appended in a also.

True
[1, 2, 3, 4]
[1, 2, 3, 4]

#### Shallow Copy
- creates new objects
- nested structues references same elements from original list
- any changes in nested elements will affect both lists

In [129]:
import copy
a = [1,2,3,[4,5]]
b = copy.copy(a)  

print(a is b)
print(id(a))
print(id(b))

 # nested element for both the list will be at same memory address.
 
print(a[3]) 
print(id(a[3])) 
print(id(b[3]))

# adding nested element of b
b[3].append(6)
print(b)
print(a)

# changing nested element of b
b[3][0] = 'Nikshit'
print(b)
print(a)

False
2051937120064
2051932007936
[4, 5]
2051936805632
2051936805632
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, ['Nikshit', 5, 6]]
[1, 2, 3, ['Nikshit', 5, 6]]

#### Deep Copy:
- creates completely new objects
- changes in copied objects do not affect the original

In [130]:
a = [1,2,3,4,[5,6,7]]
b = copy.deepcopy(a)

# memory address will be different for both list
print(a is b)
print(id(a))
print(id(b))

# check for nested elements, id will be different.
print(a[4])
print(id(a[4]))
print(id(b[4]))

# changing nested elements will not affect original list.
b[4][1] = 'Nikshit'
print(b)
print(a)

False
2051937035200
2051936939840
[5, 6, 7]
2051936754560
2051936940352
[1, 2, 3, 4, [5, 'Nikshit', 7]]
[1, 2, 3, 4, [5, 6, 7]]

#### Cloning:

In [131]:
a = [1,2,3,[1,2,3]]
b = a[:] # list slice

print(a)
print(b)

print(a is b)
print(id(a))
print(id(b))

print(id(a[3][2]))
print(id(b[3][2]))

[1, 2, 3, [1, 2, 3]]
[1, 2, 3, [1, 2, 3]]
False
2051936796864
2051936917760
140709091537768
140709091537768