# 1. If - Elif - Else Statement

In [1]:
# to control the flow of execution based on condition.
# first matching condition will gets executed, rest are skipped.

In [2]:
# email = 'nik@gmail.com'
# password = 1234

email = input('enter email')
password = input('enter password')

if email == 'nik@gmail.com' and password == '1234':
    print('welcome')
elif email == 'nik@gmail.com' and password != '1234':
    print('incorrect password.')
    password = input('enter password')
    if password == '1234':
        print('welcome! finally.')
    else:
        print('its wrong again..')
else:
    print('both not correct.')

welcome

#### .split()

In [3]:
# split() - to split string into list of substrings based on specified seprator.
a = 'Nikshit Vora'
a.split()  # default is space

['Nikshit', 'Vora']

In [4]:
# split with comma
a = 'Nikshit,vora,hiral,vora'
a.split(',')

['Nikshit', 'vora', 'hiral', 'vora']

In [5]:
a = 'Nikshit,Vora'
x,y = a.split(',')
print(x)
print(y)

Nikshit
Vora

#### .join()

In [6]:
# .join() - to combine elements of list(any iterable) into single string, with specified seprator between each element.

a = ['a','b','c','d']
' '.join(a)

'a b c d'

In [7]:
'-----'.join(a)

'a-----b-----c-----d'

In [8]:
# Find min of three numbers.

a,b,c = input('enter three number seprated with comma - ').split(',')
if a<b and a<c:
    print('min -',a)
elif b < c:
    print('min - ',b)
else:
    print('min - ',c)

min - 3

In [9]:
# menu driven calculator

n1,n2 = input('enter two numbers').split(',')
op = input('enter the operation +,-,*,/ -> ')
n1,n2 = int(n1),int(n2)
if op =='+':
    print(n1+n2)
elif op == '-':
    print(n1-n2)
elif op == '*':
    print(n1*n2)
else:
    print(n1/n2)

10

# 2. Modules

In [10]:
# math
import math
# using function of math module
print(math.factorial(5))
print(math.sqrt(196))

120
14.0

In [11]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
# random
import random
print(random.randint(1,100))

13

In [13]:
# datetime
import datetime
print(datetime.datetime.now())

2025-07-20 19:48:54.012035

# 3. Loops

In [14]:
# Loops are used to repeat a block of code multiple times.

#### While Loop

In [15]:
# while loop repeats as long as condition is True.

n = int(input('enter the number -'))
i = 1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

#### While Loop With Else

In [16]:
# The else block will only execute if the loop completes all iterations without encountering a break.
i = 0
while i <= 5:
    print(i)
    i+=1
else:  
    print('Loop is completed. no break in between loop.')

0
1
2
3
4
5
Loop is completed. no break in between loop.

In [17]:
# If the loop is terminated by a break statement before completing all iterations, the else block will not be executed.
i = 0
while i <= 5:
    print(i)
    i+=1

    if i==4:
        break
else:  
    print('Loop is completed. no break in between loop.')

0
1
2
3

##### Number Guessing Game

In [18]:
# generate random int in 1-100 range
import random
jackpot = random.randint(1,100)

# guess from user
guess = int(input('guess number. '))
guess_count = 1

# while loop
while guess != jackpot:
    if guess < jackpot:
        # tell the mistake
        print('guess higher number.')
    else:
        # tell the mistake
        print('guess lower number.')
    
    # chance to guess again
    guess = int(input('guess number. '))
    guess_count+=1
else:
    print('correct guess..')
    print('guess count is ',guess_count)

guess higher number.
guess higher number.
guess higher number.
guess higher number.
guess higher number.
guess higher number.
correct guess..
guess count is  7

#### For Loop

In [19]:
# for loop iterates over sequence (like list, tuple, string, or range.)
# range(start,end,step=1) - used to generate sequence of numbers.

for i in range(1,10):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,

In [20]:
# step size

for i in range(1,10,3):
    print(i,end=',')

1,4,7,

In [21]:
# step size & reverse order

for i in range(10,0,-1):
    print(i,end=',')

10,9,8,7,6,5,4,3,2,1,

In [22]:
# for loop in string 

for i in 'Junagadh':
    print(i)

J
u
n
a
g
a
d
h

#### For Loop With Else

In [23]:
for i in range(1, 20):
    # The loop will iterate over all values from 1 to 19.
    # Since the break condition (i == 25) is never met, the loop will not break.
    # All values will be printed, and the else block will execute after the loop finishes.
    if i == 25:
        break  # This will never trigger for the given range.
    else:
        print(i, end=',')
else:
    # The else block runs only if the loop completes all iterations without a break.
    print('\nelse block executed. All the iterations completed for given range.')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,
else block executed. All the iterations completed for given range.

In [24]:
for i in range(1, 20):
    # The loop will iterate from 1 to 19.
    # When i == 10, the break statement will terminate the loop early.
    # Because the loop is broken before completing all iterations, the else block will NOT execute.
    if i == 10:
        break  # Loop breaks here when i is 10.
    else:
        print(i, end=',')
else:
    # This else block only runs if the loop completes all iterations without a break.
    print('\nelse block executed. All the iterations completed for the given range.')

1,2,3,4,5,6,7,8,9,

#### Nested Loop

In [25]:
# nested loop - Loops inside other loops.

for i in range(1,5):
    for j in range(1,5):
        print(i,j,end=',')
    print('\n')

1 1,1 2,1 3,1 4,

2 1,2 2,2 3,2 4,

3 1,3 2,3 3,3 4,

4 1,4 2,4 3,4 4,

##### Example

In [26]:
# 2010, current population = 10000
# rate of increase = 10
# find population at the end of each of last 10 year, 2000-2010

curr_pop = 10000
for i in range(2010,2000,-1):
    print('Year',i,'->',curr_pop)
    curr_pop = curr_pop/1.10

Year 2010 -> 10000
Year 2009 -> 9090.90909090909
Year 2008 -> 8264.462809917353
Year 2007 -> 7513.148009015775
Year 2006 -> 6830.134553650703
Year 2005 -> 6209.213230591548
Year 2004 -> 5644.739300537771
Year 2003 -> 5131.5811823070635
Year 2002 -> 4665.07380209733
Year 2001 -> 4240.976183724845

In [27]:
# sequence num
# 1/1! +2/2! + 3/3! + .......

n = int(input('enter n: '))
n_sum = 0
fact = 1
for i in range(1,n+1):
    fact = fact*i
    n_sum = n_sum + i/fact
print(n_sum)

2.7182815255731922

### Pattern 1

In [28]:
# 1st method

n = int(input('enter the number of rows -> '))
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [29]:
# 2nd method

n = int(input('enter the number of rows -> '))
for i in range(1,n+1):
    for i in range(1,i+1):
        print('*',end='')
    print() # to change the line....

*
**
***
****
*****
******
*******
********
*********
**********

### Pattern 2

In [30]:
n = int(input('enter the number -> '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321
12345678910987654321

# 4. Break, Continue, Pass Statement

#### Break Statement

In [31]:
# break statement : stop/break the loop when given condition is met.

for i in range(1,10):
    if i==5:
        break  
    print(i)
else:
    print('all iterations completed..')

1
2
3
4

In [32]:
# prime number example.

lower = int(input('enter lower range -> '))
upper = int(input('enter upper range -> '))

for i in range(lower,upper+1):
    if i>=2:
        for j in range(2,i):
            if i%j==0:
                break
        else: # if all iteration completed means its prime number... 
            print(i,end=',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

#### Continue Statement

In [33]:
# continue - skip the current iteration, and go to next iteration.

for i in range(1,10):
    if i==5: # 5 is skipped, rest are printed.
        continue 
    print(i)

1
2
3
4
6
7
8
9

#### Pass Statement

In [34]:
# pass - do nothing (placeholder) - act as filler.

for i in range(1,10):
    if i==5:
        pass   
    print(i)

1
2
3
4
5
6
7
8
9