# 1. Tuple

- Built-in data type.
- Sequence of comma separated items, eclosed in patentheses ().
- can store any data type in tuple.
- Tuple is immutable/ not changeable.
- Ordered collection of items.

### Characteristics

In [41]:
# ordered

a = (1,2,3)
b = (2,3,1)
print(a==b)

False

In [42]:
# allows duplicate value
a = (1,2,2,3)
print(a)

(1, 2, 2, 3)

**Immutability:**
- Tuples are immutable, meaning their contents can't change after creation.
- This allows Python to optimize memory usage and access speed, since it doesn't need to account for dynamic resizing or element changes.

In [43]:
# Immutable/ not changeable
a = (1,2,3)
b = a
a = a + (4,)  

print('This is tuple a - ',a)
print('This is tuple b - ',b) 

print(id(a))
print(id(b)) # memory address is different.

This is tuple a -  (1, 2, 3, 4)
This is tuple b -  (1, 2, 3)
2431514496352
2431518216640

In [44]:
# Tuple are faster then list.

import time

l = list(range(10000000))
t = tuple(range(1000000))

start = time.time()
for i in l:
    i*5
print('list time',time.time()-start)

start = time.time()
for i in t:
    i*5
print('tuple time',time.time()-start)

list time 0.3821554183959961
tuple time 0.043550729751586914

**Memory Efficiency:**
- Tuples use less memory than lists because they donâ€™t need extra space for dynamic resizing.
- This makes them lighter and quicker to access.

In [45]:
import sys

l = list(range(10000000))
t = tuple(range(1000000))
print('list size',sys.getsizeof(l))
print('tuple size',sys.getsizeof(t))

list size 80000056
tuple size 8000040

### Creating Tuple

In [46]:
# Empty Tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [47]:
# How to create tuple with single item

t2 = (2)
print(t2,type(t2))  # this will return int data type.

t3 = ('hello')
print(t3,type(t3))  # this will retrun string data type.

t4 = (2,)  # need to place comma after single item
print(t4,type(t4))

2 <class 'int'>
hello <class 'str'>
(2,) <class 'tuple'>

In [48]:
# Homogeneous Tuple
a = (1,2,3,4)
print(a)

# Heterogeneous Tuple
a = (1,2,'hello',True,5+5j)
print(a)

# 2D Tuple
a = (1,2,(3,4))
print(a)

# Type Conversion
a = tuple('Hello')
print(a)

(1, 2, 3, 4)
(1, 2, 'hello', True, (5+5j))
(1, 2, (3, 4))
('H', 'e', 'l', 'l', 'o')

### Accessing Tuple

In [49]:
# indexing
a = (1,2,'hello',True,5+5j)

a[2]  # similar as list,strings

'hello'

In [50]:
# slicing
a = (1,2,'hello',True,5+5j)
a[0:5:2]

(1, 'hello', (5+5j))

### Editing Items

In [51]:
# immutable, can not be changed
a = (1,2,'hello',True,5+5j)   
a[0]='456'

TypeError: 'tuple' object does not support item assignment

### Adding Items

In [52]:
# using concetenation
a = (1,2,'hello',True,5+5j)
print(a,id(a))

a = a + (7,8,8,9,10) # creates new tuple at different memory address.
print(a,id(a))

(1, 2, 'hello', True, (5+5j)) 2431518277392
(1, 2, 'hello', True, (5+5j), 7, 8, 8, 9, 10) 2431516587456

### Deleting Items

In [53]:
# we can delete entire tuple but not delete or modify individual elements of a tuple
a = (1,2,'hello',True,5+5j)
print(a)
del a   
print(a)

(1, 2, 'hello', True, (5+5j))

NameError: name 'a' is not defined

### Operations

In [54]:
# arithmatic operations

# addition
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)

# Multiplication
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
# Membership

t1 = (1,2,3)
print(1 in t1)
print(6 not in t2)

True
False

In [56]:
# loop
t1 = (1,2,3)
for i in t1:
    print(i)

1
2
3

In [57]:
# loop with enumerate function
t1 = (1,2,3)
for i in enumerate(t1):
    print(i)

(0, 1)
(1, 2)
(2, 3)

### Tuple Functions

In [1]:
t = (1,2,3,4,8,55,105)

print(len(t)) # return length of tuple
print(sum(t)) # sum of tuple
print(min(t)) # return min element
print(max(t)) # return max element
print(sorted(t)) # return list with temporary sorting ascending.
print(sorted(t,reverse = True)) # temporary sorting descending.

7
178
1
105
[1, 2, 3, 4, 8, 55, 105]
[105, 55, 8, 4, 3, 2, 1]

### Count & Index Functions

In [ ]:
# count() - return frequency of items
t = (1,2,3,4,8,2,55,105,2)
print(t.count(2))
print(t.count('hello')) # return 0 if element not found.

3
0

In [61]:
# index() - return index of specified element
t = (1,2,3,4,8,55,105)
print(t.index(4))
print(t.index('Hello')) # raise ValueError if not found

3

ValueError: tuple.index(x): x not in tuple

### Tuple Unpacking

In [62]:
# variable assignment
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [63]:
# variable swapping
a=1
b=2
a,b=b,a
print(a)
print(b)

2
1

In [68]:
# *other - to store rest values

a,b,*other = (1,2,5,8,9)
print(a)
print(b)
print(other)

1
2
[5, 8, 9]

In [69]:
a,*b,c,d = (1,2,3,4,5,6,7,8,9,10)
print(a)
print(b)
print(c)
print(d)

1
[2, 3, 4, 5, 6, 7, 8]
9
10

In [70]:
# zipping tuples
a = (1,2,3)
b = (5,6,7,8,9,10)
print(list(zip(a,b)))
print(tuple(zip(a,b)))

[(1, 5), (2, 6), (3, 7)]
((1, 5), (2, 6), (3, 7))

# 2. Set

- Unordered collection of unique items.
- Does not allow duplicates â€” any repeated elements are automatically removed.
- Mutable â€” we can add or remove items after the set is created.
- Can only contain immutable items like numbers, strings, and tuples (not lists or dictionaries).

In [76]:
# unordered collection of unique items
a = {1,2,3,2}
b = {2,3,1}

print(a)
print(b)
print(a==b)

{1, 2, 3}
{1, 2, 3}
True

In [ ]:
# allows no duplicates
a = {1,2,2,3,3,4,4}
print(a)

{1, 2, 3, 4}

In [ ]:
# tuple inside list

s = {1,2,3,4,(4,5,6)}
print(s)

{1, 2, 3, 4, (4, 5, 6)}

In [78]:
# can only store immutable items inside set
a = {1,2,{3,4}}  # set is mutable data type so we can not add it as element of set

TypeError: unhashable type: 'set'

In [79]:
# list is also mutable data type and can not be added inside set
a = {1,2,3,[5,6,8]}

TypeError: unhashable type: 'list'

In [34]:
a = {1,2,3,{'a':1}}  # dictionary also mutable data type, can not be added

TypeError: unhashable type: 'dict'

### Creating Set

In [1]:
# creating empty set

s = {}  # also used for dictionary, default is dictionary
print(s,type(s))

p = set() # using type conversion
print(p,type(p))

{} <class 'dict'>
set() <class 'set'>

In [2]:
# Homogeneous set
s1 = {1,2,3}
print(s1)

# heterogeneous set   
a = {1,2,'hello',4.5, True} # True is 1, it will not be repeated.
print(a)

# tuple in set
a = {1,2,3,(5,5,6)} # set can have only immutable nested elements
print(a)

# type conversion
s = set([1,2,3,4])
print(s)

{1, 2, 3}
{'hello', 1, 2, 4.5}
{1, 2, 3, (5, 5, 6)}
{1, 2, 3, 4}

### Accessing Items

In [3]:
# cannot access items as sets are unordered.
a = {1,2,3,4,5,6}
a[0]

TypeError: 'set' object is not subscriptable

### Editing items

In [4]:
a = {1,2,3,4,5}

# add - add single item
a.add(5)
print(a)

# update - add multiple items
a.update([5,6,7])
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

### Deleting items

In [5]:
# del - delete entire set
s = {1,2,3,4,5,6}
print(s)
del s
print(s)

{1, 2, 3, 4, 5, 6}

NameError: name 's' is not defined

In [6]:
# discard() - deletes a specific item. 
s = {1,2,3,4,5,6}
s.discard(5)
print(s)

s.discard('hello')   # Does not raise an error if the item is not found.
print(s)

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}

In [7]:
# remove() - Deletes a specific item.

s = {1,2,3,4,5,6}
s.remove(4)
print(s)

s.remove('hellow')  #  Raises an error if the item is not found.
print(s)

{1, 2, 3, 5, 6}

KeyError: 'hellow'

In [8]:
# pop() - randomly delete the item
s = {1,2,3,4,5,6}
s.pop()
print(s)

{2, 3, 4, 5, 6}

In [9]:
# clear - to empty set
s = {1,2,3,4,5,6}
s.clear()
print(s)

set()

### Set operations

In [24]:
s1 = {1,2,3,4,5}
s2 = {4,5,5,6,7,8}

# union (|) : combines elements from both sets.
print(s1|s2) 
print(s1.union(s2))

# update() : combines elements parmanently.
s1.update(s2) 
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,5,6,7,8}

# intersection (&) : Returns elements common to both sets.
print(s1&s2)
print(s1.intersection(s2))

# intersection_update() : keeps only elements found in both sets.
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [28]:
s1 = {1,2,3,4,5}
s2 = {4,5,5,6,7,8}

# differences (-) : Returns elements in the first set but not in the second.
print(s1-s2)
print(s2-s1)
print(s1.difference(s2))

# difference_update() 
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [29]:
s1 = {1,2,3,4,5}
s2 = {4,5,5,6,7,8}

# symmetric difference (^)  Returns elements which are not common in both.
print(s1^s2)
print(s1.symmetric_difference(s2))

# symmetric_difference_update() : keeps elements which are not common
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [39]:
s1 = {4,5}
s2 = {4,5,5,6,7,8}

# subset() & superset() & disjoint checks

print(s1.issubset(s2))  # True if s1 is subset of s2.
print(s1.issuperset(s2)) # True if s1 is superset of s2.
print(s1.isdisjoint(s2))  # True if no elements in common

True
False
False

In [33]:
# membership checks
s1 = {1,4,5}
s2 = {4,5,5,6,7,8}
print(1 in s1)
print('hello' not in s2)

True
True

In [36]:
# loop
s1 = {1,4,5}
for i in s1:
    print(i,end=',')

1,4,5,

### Set Functions

In [53]:
s1 = {1,2,3,4,5}

print(len(s1)) # length
print(min(s1)) # min element
print(max(s1)) # max element
print(sum(s1)) # sum
print(sorted(s1))  # sorted() : will return list
print(sorted(s1,reverse=True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### Copying Set

In [ ]:
# copy() - creates shallow copy, creates a new set with the same elements
s1 = {1,2,3}
s2 = s1.copy()
print(id(s1))
print(id(s2))

2062984718912
2062984721600

In [ ]:
# set() : creates a new set with the same elements
s1 = {1,2,3}
s2 = set(s1)
print(id(s1))
print(id(s2))

2062984717120
2062984722048

### Frozen Set - Immutable version of a set.

In [63]:
fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [ ]:
# 2D sets, can be used inside set as it is immutable.
fs = frozenset([1,2,3])
s = {1,2,3,fs}
print(s)

{frozenset({1, 2, 3}), 1, 2, 3}

### Set Comprehension

In [66]:
{i for i in range(1,11) if i>=5 if i%2==0}

{6, 8, 10}

### Unpacking Set

In [48]:
first,second,third = {1,2,3}
print(first)
print(second)
print(third)

1
2
3

In [ ]:
# Using * for flexible unpacking
first,*rest = {1,2,3,4,5,6}
print(first)
print(rest)

1
[2, 3, 4, 5, 6]

In [51]:
# unpack a set into function arguments
def add(a, b, c):
    return a + b + c

my_set = {1, 2, 3}
print(add(*my_set))  # Order is arbitrary.

6

In [52]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s3 = {*s1, *s2}
print (s3)

{1, 2, 3, 4, 5, 6, 7, 8}

# 3. Dictionary

- Built-in data type that stores data in key-value pairs.
- Keys must be immutable (e.g., strings, tuples, int etc.). 
- Mutable types like lists, sets, or other dictionaries cannot be used as keys.
- Indexed, Mutable, unordered collection of key-value pairs.
- Unique keys: Each key must be unique; if a key is repeated, the last value assigned will overwrite the previous one.

### Characteristics of dictionary

In [48]:
# stored data in key-value pairs
book = {"title": "Python Basics","author": "John Doe","genres": ["Programming", "Education"],"available": True}
print(book)

{'title': 'Python Basics', 'author': 'John Doe', 'genres': ['Programming', 'Education'], 'available': True}

In [59]:
# keys must be immutable - str, int, tuple
# values can be mutable - can be any data type
book = {['Name','age']:['John Doe',26]}

TypeError: unhashable type: 'list'

In [64]:
# keys must be unique : if a key is repeated, the last value assigned will overwrite the previous one.
book = {'book':'Python basics','book':'Data Science','author': 'John Doe'}
book

{'book': 'Data Science', 'author': 'John Doe'}

### Create Dictionary

In [73]:
# empty dictionary
d = {}
print(d,type(d))

# 1-D dictionary 
d = {'name':'Nikshit','age':25,'village':'Kharchiya'}

# mixed key - Tuple and String as key in dict
d = {(1,2,3):1,'hello':'world'}
print(d)

# 2-D dictionary
s = {'collage':'IIT','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s)

# using sequence of key-value pair in tuple and type conversion 
d = dict([(1,2),(3,4),(5,6)])
print(d)

{} <class 'dict'>
{(1, 2, 3): 1, 'hello': 'world'}
{'collage': 'IIT', 'Sem': '4', 'Subjects': {'Maths': 50, 'DSA': 75}}
{1: 2, 3: 4, 5: 6}

In [49]:
keys = [1,2,3,4,5]
value = ['one','two']
d = dict.fromkeys(keys,value)
print(d)

{1: ['one', 'two'], 2: ['one', 'two'], 3: ['one', 'two'], 4: ['one', 'two'], 5: ['one', 'two']}

### Accessing items from dictionary

In [6]:
# indexing - key - will raise KeyError if not fond
s = {'collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s['collage'])
print(s['Subjects']['Maths'])

PDPU
50

In [51]:
# get method - will return None if Key is not found
s = {'collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s.get('collage'))
print(s.get('name'))  # name key is not present in dictionary

PDPU
None

### Editing in dictionary

In [52]:
# adding new pair
s = {'collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s)
s['name']='Nikshit' 
print(s)

{'collage': 'PDPU', 'Sem': '4', 'Subjects': {'Maths': 50, 'DSA': 75}}
{'collage': 'PDPU', 'Sem': '4', 'Subjects': {'Maths': 50, 'DSA': 75}, 'name': 'Nikshit'}

In [53]:
# editing - If the key already exists, will get replaced with new value
s['Sem'] = 8
print(s)

{'collage': 'PDPU', 'Sem': 8, 'Subjects': {'Maths': 50, 'DSA': 75}, 'name': 'Nikshit'}

In [35]:
# update() - merge two dictionaries, if key already exists, it will be overwritten with other dictionary.
d1 = {1:2,2:3,3:4}
d2 = {2:5,1:10}
d1.update(d2)
print(d1)

{1: 10, 2: 5, 3: 4}

### Remove key-value pair

In [21]:
# delete entire dictionary
s = {'collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
del s
print(s)

NameError: name 's' is not defined

In [22]:
# delete key-value pair
s = {'collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s)

del s['Subjects']
print(s)

{'collage': 'PDPU', 'Sem': '4', 'Subjects': {'Maths': 50, 'DSA': 75}}
{'collage': 'PDPU', 'Sem': '4'}

In [25]:
s = {'name':'Nik','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}

# pop(): removes the specified key and returns its value.
s.pop('Sem')
print(s)

# popitem() : removes and returns the last inserted key-value pair as a tuple.
s.popitem()
print(s)

{'name': 'Nik', 'collage': 'PDPU', 'Subjects': {'Maths': 50, 'DSA': 75}}
{'name': 'Nik', 'collage': 'PDPU'}

In [26]:
# clear()
s = {'name':'Nitish','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
s.clear()
print(s)

{}

### Dictionary Operations

In [27]:
# membership
s = {'name':'Nitish','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
print(s)
print('name' in s)
print('Sem' not in s)

{'name': 'Nitish', 'collage': 'PDPU', 'Sem': '4', 'Subjects': {'Maths': 50, 'DSA': 75}}
True
False

In [28]:
# loop
s = {'name':'Nitish','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75}}
for i in s:
    print(i,'-',s[i])

name - Nitish
collage - PDPU
Sem - 4
Subjects - {'Maths': 50, 'DSA': 75}

In [ ]:
# merging dictionary with operator - | 
d1 = {'a': 2, 'b': 4, 'c': 30}
d2 = {'a1': 20, 'b1': 40, 'c1': 60}
print(d1|d2)

{'a': 2, 'b': 4, 'c': 30, 'a1': 20, 'b1': 40, 'c1': 60}

### Dictionary Functions

In [32]:
s = {'name':'Nitish','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75},"Z":1}

print(len(s))  # length
print(min(s))  # min key based on ASCII values
print(max(s))  # Max key based on ASCII values

print(sorted(s))  # return sorted list of keys
print(sorted(s,reverse=True))

5
Sem
name
['Sem', 'Subjects', 'Z', 'collage', 'name']
['name', 'collage', 'Z', 'Subjects', 'Sem']

In [33]:
# key values pair
s = {'name':'Nitish','collage':'PDPU','Sem':'4','Subjects':{'Maths':50,'DSA':75},"Z":1}
print(s.items())  # key-value in tuple
print(s.keys()) # list of keys
print(s.values())  # list of values

dict_items([('name', 'Nitish'), ('collage', 'PDPU'), ('Sem', '4'), ('Subjects', {'Maths': 50, 'DSA': 75}), ('Z', 1)])
dict_keys(['name', 'collage', 'Sem', 'Subjects', 'Z'])
dict_values(['Nitish', 'PDPU', '4', {'Maths': 50, 'DSA': 75}, 1])

### Dictionary Comprehension

In [36]:
# print first 10 numbers and their squares
{i:i**2 for i in range(12)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121}

In [89]:
# using existing distance
dis = {'delhi':1000,'mumbai':2000}
{i:j*0.65 for i,j in dis.items()}

{'delhi': 650.0, 'mumbai': 1300.0}

In [37]:
# creating dictionary using zip() function
d = [1,2,3,4,5,6,7,8,9,10]
s = ['a','b','c','d','e','f','g','h','r','p']
{i:j for i,j in zip(d,s)}

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'r',
 10: 'p'}

In [91]:
# using if condition
products = {'a':1,'b':5,'c':0}
{i:j for i,j in products.items() if j>0}

{'a': 1, 'b': 5}

In [38]:
# tables using dictionary comprehension
{i:{j: i*j for j in range(1,10)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36}}

### Unpacking

In [54]:
# merging two dictionary with unpacking
d1 = {'a': 2, 'b': 4, 'c': 30}
d2 = {'a1': 20, 'b': 40, 'c1': 60}

d3={**d1,**d2}
print(d3)

{'a': 2, 'b': 40, 'c': 30, 'a1': 20, 'c1': 60}

In [41]:
# unpacking in function
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

info = {'name': 'Nik', 'age': 21}
greet(**info)

Hello Nik, you are 21 years old.